<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Авторизация</title>
    <style media="screen">
      h1{
        text-align: center;
      }
      section{
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <h1>Авторизация</h1>
    </header>
    <section>
      <form method="post">
        <label>Ваш логин</label><br><br>
        <input type="text" name="login" placeholder="Введите ваш логин"><br><br>
        <label>Ваш пароль</label><br><br>
        <input type="text" name="password" placeholder="Введите ваш пароль"><br><br>
        <button type="submit" >Войти </button>
        <a href="/register">Регистрация</a>
      </form>
    </section>
  </body>
</html>
