<!DOCTYPE html>
<html lang="ru" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Регистрация нового пользователя</title>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
  </head>
  <body>
    <header>
      <h1>Регистрация нового пользователя!</h1>
    </header>
    <section>
      <form method="post">
        <label>Введите ваш логин</label>
        <input type="text" id="login">
        <label>Введите ваш пароль</label>
        <input type="text" id="password">
        <button type="submit" id="button">Зарегистрироваться</button>
      </form>
    </section>
  </body>
</html>
